<h1>Wijzig product</h1>

<div style="text-align: center;">
    <div class="submit-form">
      <div *ngIf="!submitted">
        <div class="form-group">
          <label for="name">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            required
            [(ngModel)]="product.name"
            name="name"
          />
        </div>
  
        <div class="form-group">
          <label for="price">price</label>
          <input
            class="form-control"
            id="price"
            required
            [(ngModel)]="product.price"
            name="price"
          />
        </div>

        <div class="form-group">
            <label for="description">Description</label>
            <input
              class="form-control"
              id="description"
              required
              [(ngModel)]="product.description"
              name="description"
            />
          </div>

          <div class="form-group">
            <label for="category">category</label>
            <input
              class="form-control"
              id="category"
              required
              [(ngModel)]="product.category"
              name="category"
            />
          </div>

          <div class="form-group">
            <label for="image">image</label>

            <input
            type="file"
              class="form-control"
              name="image"
              (change)="selectFile($event)"
            />
        </div>
        <button class="btn btn-success" (click)="updateProduct()">Update</button>
    </div>
